.gradient-custom-2 {
  background: linear-gradient(to right, #004e92, #000428);
  border-radius: 10px;
}

.blue-gradient-btn {
  background: linear-gradient(45deg, #0c64c3, #004085);
  border: none;
  color: white;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blue-gradient-btn:hover {
  background: linear-gradient(45deg, #0056b3, #002752);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: 2s ease-out 0s 1 slideInFromRight;
}

@keyframes growLogo {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.logo-animate {
  animation: growLogo 2s ease forwards;
}

.alert{
  height: auto; /* Need alert styling as well however it's not working - backend? */
}
