.Dashboard {
  width: calc(100vw - 250px);
  height: 100%;
  padding: 20px;
}

.SummaryTitle {
  margin-left: 10px;
  color: rgb(27, 84, 116);
  font: bold;
  margin-top: 15px;
}

.SearchBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 0px;
  flex: 20%;
}

.SearchInput {
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 5px;
}

.SearchButton {
  padding: 8px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.SearchButton:hover {
  background-color: #e6e6ee
}

.SectionTitle {
  margin-left: 10px;
  color: rgb(27, 84, 116);
  font: bold;
  margin-top: 10px;
}

.RoleTitle {
  margin-left: 10px;
  color: black;
  font: bold;
  margin-top: 15px;
}

.DashboardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.DashboardHeader .SummaryTitle {
  font-size: 25pt;
  color: rgb(10, 36, 50);
  flex: 1;
  margin-left: 0;

}

.DashboardHeader .SearchBar {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  margin: 0 20px;
}

.DashboardHeader .SearchInput {
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.DashboardHeader .SearchButton {
  padding: 8px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.DashboardHeader .SearchButton:hover {
  background-color: #e6e6ee;
}

.CompletedProjects {
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.CurrentProjects {
  margin-top: 15px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.CreateButton {
  margin-left: auto;
  background: rgb(27, 84, 116);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.CreateButton:hover {
  font-weight: 700;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.CreateButton svg {
  margin-left: 8px;
  fill: white;
}

.Alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  background-color: #e2e2e2;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
  margin-bottom: 10px;
}

.AlertIcon {
  color: #555;
  margin-right: 10px;
}

.AlertContent {
  display: flex;
  flex-direction: column;
}

.AlertTitle {
  font-weight: bold;
  margin-bottom: 5px;
}

.AlertMessage {
  flex-grow: 1;
}

.ApproveButton {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ApproveButton:hover {
  background-color: #27ae60;
}