.Dashboard {
    width: calc(100vw - 250px);
    height: 100%;
    padding: 20px;
}

.SummaryTitle {
    margin-left: 10px;
    color: rgb(27, 84, 116);
    font: bold;
    margin-top: 15px;
  }

  .SearchBar{
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin: 0px;
    padding-right: 0px;
    flex: 20%;
  }
  
  .SearchInput {
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 5px; 
  }
  
  .SearchButton {
    padding: 8px;
    background-color: white; 
    border: none;
    border-radius: 4px; 
    cursor: pointer;
  }
  
  .SearchButton:hover {
    background-color: #e6e6ee
  }

  .SectionTitle {
    margin-left: 10px;
    color: rgb(27, 84, 116);
    font: bold;
    margin-top: 15px;
  }
  .RoleTitle {
    margin-left: 10px;
    color: black;
    font: bold;
    margin-top: 15px;
  }

  .DashboardHeader {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px;
  }
  
  .DashboardHeader .SummaryTitle {
    font-size: 25pt; 
    color: rgb(10, 36, 50); 
    flex: 1; 
    margin-left: 0; 

  }
  
  .DashboardHeader .SearchBar {
    display: flex;
    align-items: center;
    flex: 1; 
    justify-content: flex-end;
    margin: 0 20px; 
  }
  
  .DashboardHeader .SearchInput {
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .DashboardHeader .SearchButton {
    padding: 8px;
    background-color: white; 
    border: none;
    border-radius: 4px; 
    cursor: pointer;
  }
  
  .DashboardHeader .SearchButton:hover {
    background-color: #e6e6ee; 
  }

  .CompletedProjects {
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  
  .CurrentProjects {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
  }

  .CreateButtonAdmin {
    margin-bottom: 1px;
    margin-right: 10px;
    background: rgb(27, 84, 116);
    color: white;
    padding: 10px 20px;
    padding-right: 10px;
    border: none;
    border-radius: 20px; 
    justify-content: left; 
    align-self: start;
    cursor: pointer;
    font-size: 16px; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);  
    outline: none; 
    transition: box-shadow 0.3s ease; 
  }
  .button-container {
    justify-content: flex-start;
    margin-bottom: 10px;
    align-content: left; 
    

  }

  .CreateButtonAdmin:hover {
    font-weight: 700;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  }
  
  .CreateButtonAdmin svg {
    margin-left: 8px; 
    fill: white; 
  }
  .ElementDeleteButton {
    flex-shrink: 0;
    padding: 2px;
    margin-left: 10px;
}
.DeleteButtonAdmin {
  margin-bottom: 1px;
  margin-right: 10px;
  background: #dc3545;
  color: white;
  padding: 10px 20px;
  padding-right: 10px;
  border: none;
  border-radius: 20px; 
  justify-content: left; 
  align-self: start;
  cursor: pointer;
  font-size: 16px; 
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);  
  outline: none; 
  transition: box-shadow 0.3s ease; 
}
.PermissionsCurrent {
  width: 100%;
  overflow: hidden;
  padding: 10px;
  font-weight: 300;
  margin-right: 10px;
  font-size: 10pt;
  padding-bottom: 5px;
}