.CompletedProjects {
  margin-top: 20px;
}

.CompletedProjectItem {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.CompletedProjectItem:hover {
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.2);
}

.CompletedProjectTitle {
  flex: 80%;
  margin-left: 2%;
  font-weight: bold;
}

.CompletedProjectActions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 17%;
}

.ActionIcon {
  cursor: pointer;
  margin-left: 16px;
  color: #333;
  transition: color 0.3s;
}

.ActionIcon:hover {
  opacity: 0.7;
}

.PeopleIcon {
  flex: 3%;
  margin-left: 10px;
}

.Export {
  opacity: 0.8;
  display: flex;
  font-weight: 300;
  text-decoration: none;
}

.ExportTitle {
  flex: 60%;
  color: black;
}

.ExportIcon {
  flex: 40%;
  color: black;
  padding-left: 4px;
}

.Export:hover {
  opacity: 0.7;
  color: #333;
  font-weight: 600;
}

.SettingIcon {
  color: black;
}

.SettingsIcon:hover {
  opacity: 0.7;
  color: #333;
}

.PaginationButtons {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
  gap: 10px; 
  padding: 10px; 
  background-color: transparent;
  box-shadow: none; 
}