.Criteria {
    padding: 15px;
    margin-top: 0px;
    min-width: 425px;
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
}

.CriteriaHeader {
    display: flex;
    justify-content: center;
    align-items: center;

}

.CriteriaTitle {
    margin-left: 5px;
    padding-right: 20px;
}

.CriteriaContainerStyle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.IndividualCriteriaStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-top: 0px;
    width: calc(100%/2);
}

.IndividualCriteriaHeader {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0px;
    width: 100%;
    min-height: 50px;
    border-radius: 5px;

}

.IndividualCriteriaTitle {
    line-height: 29px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 4px;
    margin-left: 0px;
    font-size: 16pt;
}

.IndividualCriteriaElements {
    margin-left: 5px;
    padding: 3px;
    margin: 3px;
    padding-left: 8px;

}

.IndividualCriteriaElement {
    margin-left: 5px;
}

.AcceptCriteriaIcon {
    margin-top: 15.5px;
    color: green;
    margin-right: 0px;
}

.RejectCriteriaIcon {
    margin-top: 15.5px;
    color: red;
    margin-right: 0px;
}

.CriteriaElementsAccept {
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background-color: white;
    min-width: 100%;
    font-family: inherit;
    padding-top: 10px;
    height: 250px;
    overflow-y: scroll;
}

.CriteriaElementsReject {
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background-color: white;
    min-width: 100%;
    font-family: inherit;
    padding-top: 10px;
    height: 250px;
    overflow-y: scroll;
}

.IndividualCriteria {
    margin-bottom: 2px;
    margin-left: 15px;
    text-align: left;
    font-family: inherit;
}

.SearchCriteria {
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
}

.Search {
    margin: 10px;
    background-color: rgb(254, 254, 254);
}