.FullText {
    width: 80vw;
    height: 100%;
    padding: 20px;
}

.FullTextHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.FullTextTitle {
    margin-left: 10px;
    color: rgb(27, 84, 116);
    font: bold;
    margin-top: 15px;
    flex: 1;
}

.AcceptDeleteButtons {
    gap: 100px;

}