.OneProject {
    width: calc(100vw - 250px);
    height: 100%;
    padding: 20px;
}

.ProjectHeader {
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

}

.TopHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    padding-bottom: 5px;
}

.Title {
    font-size: 30pt;
    font-weight: normal;
    margin-left: 0px;
}

.Back {
    margin-right: 20px;
}

.SubHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    padding-bottom: 0px;
}

.IntroductionText {
    margin-left: 2px;
    font-size: 16pt;
    font-weight: 100;
    width: 750px;
}

.ReviewBody {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.PrismaButton {
    margin-right: 20px;
}


.ReviewStage {
    width: 400px;
    flex-grow: 1;
    margin-left: 10px;
    border: 0px solid;
}

.ReviewTitle {
    font-size: 17pt;
    font-weight: 500;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    background-color: white;
    border: 0px solid;
    color: rgb(0, 0, 0);
}

.ReviewDescription {
    font-weight: light;
    text-align: center;
    height: 300px;
    margin: 5px;
    background-color: white;
    border: 0px solid;
}

.DescriptionLine {
    padding: 5px;
}

.ReviewButton {
    margin: 5px;
    width: calc(100% - 10px);
    background: rgb(27, 84, 116);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: 0.3s ease;
}

.ReviewButton:hover {
    background: rgb(21, 71, 100);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}