.ProjectsSection {
  margin-top: 20px;
}

.ProjectWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.ProjectActions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 17%;
}

.ProjectItem {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.ProjectItem:hover {
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.2);
}


.PeopleIcon {
  flex: 3%;
  margin-left: 10px;
}

.ProjectTitle {
  flex: 80%;
  margin-left: 2%;
  font-weight: bold;
}

.ProgressContainer {
  position: relative;
  flex-grow: 1;
  height: 15px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  /*inner bar does not overflow */
  margin-right: 10px;
}

.ProgressBar {
  position: absolute;
  height: 100%;
  background-color: #1d75af;
  border-radius: 10px 0 0 10px;
  transition: width 0.3s ease;
  /* Smooth transition for width change */
}

.ProjectProgression {
  color: black;
  margin-left: 30px;
  margin-right: 30px;
  white-space: nowrap;

}

.ProgressPercentage {
  margin-left: 10px;
  margin-right: 10px;
}

.SettingsIcon {
  color: black;
}

.SettingsIcon:hover {
  opacity: 0.7;
  color: #333;
}

.PaginationButtons {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
  gap: 10px; 
  padding: 10px; 
  background-color: transparent;
  box-shadow: none; 
}