.TitleScreen {
    width: calc(100vw - 250px);
    height: 100%;
    padding: 20px;
}

.TitleScreenHeader {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px;
}

.TitleScreenTitle {
    margin-left: 10px;
    color: rgb(27, 84, 116);
    font: bold;
    margin-top: 15px;
    flex: 1;
}

.BackButton {
   margin-right: 10px;
}

.Articles {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    min-height: 50px;
    width: 2000px;
    flex-shrink: 1;
    flex-grow: 1;

}

.Article {
    margin-top: 7px;
}

.ArticleHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.AbstractCollapseButton {
    width: 5px;
}

.ArticleTitle {
    padding-left: 10px;
    flex: 1;
}

.ButtonGroup {
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
}

.Abstract {
    padding-left: 10px;
    padding-bottom: 10px;
}

.Body {
    display: flex;
    justify-content: center;
}

.CriteriaSection {
    margin-top: 10px;
    flex-shrink: 1;
    flex-grow: 1;
}