.TitleScreen {
    width: calc(100vw - 250px);
    height: 100%;
    padding: 20px;
}

.TitleScreenHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.TitleScreenTitle {
    margin-left: 0px;
    color: rgb(27, 84, 116);
    font: bold;
    margin-top: 15px;
    flex: 1;
}

.BackButton {
    margin-right: 10px;
}

.HeaderText {
    margin-top: 2px;
    margin-left: 20px;
    width: 700px;
    font-size: 13pt;
    margin-bottom: 10px;
}

.Articles {
    margin-left: 10px;
    padding: 10px;
    width: 2000px;
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    margin-bottom: 10px;
}

.Article {
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.ArticleTitle {
    width: calc(100%-100px);
    height: 100%;
    padding-left: 10px;
    flex: 1;
    background-color: rgb(255, 255, 255);
    font-size: 17pt;
    line-height: 50px;
    border-radius: 7px;
}

.RejectAcceptButtons {
    flex: 0;
    margin-right: 0px;
    display: flex;
    margin: 0px;
    gap: 5px;
    height: 50px;
    padding-left: 10px;

}

.ButtonGroup {
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
}

.Body {
    display: flex;
    justify-content: center;
}

.CriteriaSectionTitle {
    margin-left: 10px;
    flex-shrink: 1;
    flex-grow: 1;
}

.Abstract {
    margin-top: 8px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.ArticleTitleAbstractPage {
    background-color: rgb(194, 194, 194);
    width: calc(100%-100px);
    height: 100%;
    padding-left: 10px;
    flex: 1;
    font-size: 17pt;
    line-height: 50px;
    border-radius: 7px;

}