@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Montserrat', 'arial', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
  font-weight: 100;
  background-color: #ffffff; 
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.Sidebar {
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100vh;
  width: 250px;
  background-color: rgb(23, 23, 30);
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: column;
  padding-top: 10px;
}

.logo img {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 25px;
}

.SidebarList {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.SidebarList li {
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  margin-bottom: 8px;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #b9b9b9; 
  font-size: 18px; 
  transition: 0.2s;
}

.nav-link:hover {
  color: #e1e1e1;
  font-weight: 1000;
}

.nav-link.active {
  color: #ffffff; 
  font-weight: 1000;
}

.MainContent {
  margin-top: 0px;
  margin-left: 250px;
  overflow-y: auto; 
  height: calc(100vh - 10px); 
  padding-bottom: 100px; 
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-icon {
  width: 24px; 
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 25px;
}

.nav-title {
  flex: 1;
  margin-left: 10px;
  font-size: 20px;
}

.SidebarList .row.active {
  background-color: #718292;
}


.AppContainer {
  min-height: 100vh; 
}

.logout {
  display: flex;
  color: #e8e8e8; 
  cursor: pointer; 
}

.logout .nav-icon {
  width: 24px; 
  height: 24px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 15px;
}

.logout .nav-title {
  flex: 1;
  font-size: 20px;
}

.logout:hover {
  color: #ffffff;
  font-weight: 1000;
}

.Footer {
  height: 50px; /* Adjust as per your footer's height */
  background: #333; /* Your footer's background color */
  color: #fff; /* Your footer's text color */
  display: flex;
  justify-content: center;
  align-items: center;
}

