.CriteriaPaper {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px; 
}

.InclusionExclusionCriteria {
    display: flex;
    gap:5px
}

.InclusionCriteria, .ExclusionCriteria {
    width: 300px;
    overflow: auto;
    font-weight: 300;
    font-size: 20pt;
    margin-left: 0px;
}

.ExclusionReasonsPaper {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px; 
}

.AddExclusionInput {
    flex-grow: 1; 
    margin-right: 10px;
    width: 100%;
    padding: 8px;
}

.ExclusionReasonsHeader {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    margin-top: 5px;
}

.AddReasonButton {
    flex-shrink: 0; 
    margin-left: 10px;
}

.ExclusionReasonsBody {
    width: 100%;
    overflow: auto;
    padding: 10px;
    font-weight: 300;
    margin-right: 10px;
    font-size: 10pt;
    padding-bottom: 5px;
}

.ExclusionReasonElements {
    margin-bottom: 5px;
    display: flex;
    font-family: inherit;
}

.ExclusionReasonTitle {
    flex-grow: 1;
    margin-right: 10px;
    width: 100%;
    padding: 8px;
    font-family: inherit; 
}

.ExclusionReasonDeleteButton {
    flex-shrink: 0;
    padding: 2px;
    margin-left: 10px;
}

.KeywordBody {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.KeywordBodyFlexDisplay {
    display: flex;
    font-family: inherit;
}

.KeywordElements {
    margin-bottom: 5px;
    display: flex;
    font-family: inherit;
}

.KeywordTitle {
    flex-grow: 1;
    margin-right: 10px;
    width: 100%;
    padding: 8px;
    font-family: inherit;
}

.InclusionKeywords, .ExclusionKeywords {
    flex: 1 1 45%;
    margin-top: 5px;
    margin-left: 10px;
}

.KeywordSection {
    margin-bottom: 10px;
}


.DeleteButton {
    flex-shrink: 0;
    padding: 2px;
    margin-left: 5px;
}

.AddKeywordButton {
    margin-top: 0px;
}

.KeywordElementPaper {
    padding: 5px;
    padding-bottom: 1px;
}