.ProjectSettingsPage {
    width: calc(100vw - 250px);
}

.IndividualSettings {
    width: calc(100%-80px);
    overflow: auto;
    font-weight: 300;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 20pt;
    margin-right: 30px;
}

.SettingsSubTitle {
    font-size: 26px;
    font-family: 'Montserrat';
}
