.TagsPaper {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.TagsHeader {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    margin-top: 5px;
}

.TagsHeaderButtonContainer {
    flex-shrink: 0; 
    margin-left: 10px;
}

.TagsHeaderInput {
    flex-grow: 1; 
    margin-right: 10px;
    width: 100%;
    padding: 8px;
}

.TagsCurrent {
    width: 100%;
    overflow: auto;
    padding: 10px;
    font-weight: 300;
    margin-right: 10px;
    font-size: 10pt;
    padding-bottom: 5px;
}

.TagElements {
    margin-bottom: 5px;
    display: flex;
    font-family: inherit;
}

.TagsElementTitle {
    flex-grow: 1;
    margin-right: 10px;
    width: 100%;
    padding: 8px;
    font-family: inherit;
}

.TagElementDeleteButton {
    flex-shrink: 0;
    padding: 2px;
    margin-left: 10px;
}