.TeamSettingsPaper {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.RadioGroup {
    padding-top: 5px;
    padding-left: 2px;
    padding-bottom: 15px;
}

.TeamProgress {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.TeamProgressConflicts {
    font-size: 15px;
    padding-bottom: 5px;
    padding-left: 3px;
}