.Prisma {
  width: calc(100vw - 250px);
  height: 100%;
  padding: 20px;
}

.flowchartContainer {
  display: flex;
  flex-direction: column;
}

.mainStageWithConnectorContainer {
  /* This container holds both the main/sub stage horizontal container and the vertical connector */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainAndSubStageContainer {
  /* This container holds the main stage and its direct sub-stage in a row */
  display: flex;
  align-items: center;
}

.stageCard{
  width: 420px;
  height: 180px; 
  margin-right: 30px; /*space between main and sub-stages */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* spreads the content evenly */
  overflow: hidden; /* Hides content that overflows the card's bounds */
  border-top: 5px solid #1d75af; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* subtle shadow for depth */
  }

.subStage{
  width: 400px; 
  height: 120px; 
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* spreads the content evenly */
  overflow: hidden; /* Hides content that overflows the card's bounds */
}

.horizontalConnector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalConnector {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px; /*  control the space between stages */
  margin-left: -160px;
}
